:root {
  --primary_color: #28e98c;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  color: #999;
  background: #1f1f1f;
  line-height: 1.7;
  overflow-x: hidden;
  height: 100vh;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  text-decoration: none;
}
.left-sidebar .sidebar-header {
  margin-bottom: 65px;
}
.left-sidebar {
  /* max-width: 485px; */
  max-width: 350px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #565656;
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  z-index: 10;
}

.sidebar-header {
  max-width: 110px;
  text-align: right;
}
.designation {
  max-width: 110px;
  text-align: right;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.left-sidebar > img.me {
  border-radius: 30px;
  display: block;
  margin-bottom: 56px;
}

.left-sidebar .address {
  margin-bottom: 30px;
}

.left-sidebar .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 45px;
}

.left-sidebar .social-profile {
  gap: 8px;
  margin-bottom: 118px;
}

.left-sidebar .social-profile li a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 46px;
  text-align: center;
  border: 2px solid #565656;
  border-radius: 50%;
  color: #999;
  font-size: 20px;
  transition: 0.3s;
}
.left-sidebar .social-profile li a:hover {
  color: var(--primary_color);
  border-color: var(--primary_color);
}
.theme-btn {
  background-color: var(--primary_color);
  color: #000;
  display: block;
  text-align: center;
  /* padding: 11px 58px 10px; */
  padding: 12px 30px 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  text-transform: uppercase;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  border: 2px solid var(--primary_color);
}

.theme-btn i {
  font-size: 24px;
  margin-right: 10px;
  display: block;
  margin-bottom: 3px;
  /* display:inline-flex */
}

.theme-btn:hover {
  background: 0 0;
  color: var(--primary_color);
}

.left-sidebar .theme-btn {
  width: 100%;
}

main.tamil-main {
}
.tamil-main .left-sidebar {
  display: none;
}

.hero-section {
  padding: 68px 0;
  position: relative;
  overflow: hidden;
}

.hero-section .hero-content {
  position: relative;
  z-index: 3;
}

.page-section {
  overflow: hidden;
}

.custom-container {
  max-width: 1130px;
  padding: 0 15px;
  margin: auto;
}

.subtitle {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  border: 1px solid #565656;
  padding: 9px 20px;
  border-radius: 30px;
  margin-bottom: 53px;
  display: inline-flex;
  align-items: center;
  transition: 0.3s;
}
.subtitle i {
  margin-bottom: 1px;
  font-size: 14px;
  margin-right: 10px;
}
.tamil-main .subtitle:hover {
  background: 0 0;
  border-color: var(--primary_color);
}
.tamil-main h4:hover {
  background: 0 0;
  color: var(--primary_color);
}

.hero-section .hero-content h1 {
  font-size: 78px;
  letter-spacing: -0.2px;
  line-height: 90px;
  margin-bottom: 43px;
  color: #fff;
  font-weight: 300;
}
.hero-section .hero-content h1 span {
  color: var(--primary_color);
}

.hero-section .hero-content > p {
  max-width: 480px;
  margin-bottom: 31px;
}

.about-area {
  padding-top: 90px;
  padding-bottom: 90px;
}

.content-width {
  max-width: 770px;
  width: 100%;
  margin-left: auto;
}

.about-area .about-content .about-para p {
  line-height: 30px;
  max-width: 610px;
}

.section-header h1 {
  font-size: 48px;
  line-height: 60px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 33px;
}

.section-header h1 span {
  color: var(--primary_color);
}

.resume-area {
  padding-top: 90px;
  padding-bottom: 90px;
  transition: 0.3s;
}

.resume-area h4:hover {
  background: 0 0;
  color: var(--primary_color);
}

.resume-area .resume-content .resume-timeline .item {
  position: relative;
  padding-left: 74px;
  padding-bottom: 68px;
}
/*  */

.resume-area .resume-content .resume-timeline .item:last-child::after {
  height: calc(100% - 10px);
}
.resume-area .resume-content .resume-timeline .item::after {
  content: "";
  background: #333;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 10px;

  z-index: -1;
}
.resume-area .resume-content .resume-timeline .item:hover::after {
  background: var(--primary_color);
}
.resume-area .resume-content .resume-timeline .item::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #656565;
  margin-left: 1px;
  border-radius: 50%;
  left: -6px;
  top: 7px;
  transition: 0.3s;
}

.resume-area .resume-content .resume-timeline .item .date {
  display: block;
  margin-bottom: 28px;
  transition: 0.3s;
}
.resume-area .resume-content .resume-timeline .item h2 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 5px;
  color: #fff;
}
.resume-area .resume-content .resume-timeline .item h2 a {
  color: #fff;
  display: block;
}
.resume-area .resume-content .resume-timeline .item p {
  font-size: 13px;
  color: #999;
  margin-bottom: 18px;
}
.resume-area .resume-content .resume-timeline .item p:last-child {
  margin-bottom: 0;
}
.resume-area .resume-content .resume-timeline .item:hover::before {
  background: var(--primary_color);
}
.resume-area .resume-content .resume-timeline .item:hover .date {
  color: var(--primary_color);
}

.project-area {
  padding-top: 90px;
  padding-bottom: 90px;
  transition: 0.3s;
}

.project-area h4:hover {
  background: 0 0;
  color: var(--primary_color);
}

.project-items .project-item {
  border: 1px solid #565656;
  border-radius: 20px;
  transition: 0.3s;
  position: relative;
  padding: 44px 48px 41px;
  margin-bottom: 10px;
}

.project-items .project-item:last {
  margin-bottom: 0;
}

.project-items .project-item h2 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 8px;
  color: #fff;
}

.project-item:hover {
  border-color: var(--primary_color);
  background: #690e0e;
}
